{% extends "layout.html" %}

{% block title %}Recover Password{% endblock %}

{% block content %}
<h1>Recover Password</h1>



<form action="/recover-password" method="POST">

    <p>
        <label for="email">Email:</label>
        <input name="email" type="text" value="{{ form.email }}">
        <br>
        {% if error | length > 0 %}
            <span style="color:red;"> {{ error }} </span>
        {% endif %}
    </p>
    
    <button type="submit">Recover Password</button>
</form>
<a href="/login" >Login</a> <a href="/register">Register</a>  
{% endblock %}